@charset "UTF-8";

/* Todas as demais midias */

@media screen and (min-width: 768px) and (max-width: 992px) { /*tablet*/

body {
    background-image: url(../Imagens/back-tablet.jpg);
}

img#phone {display: none;}
img#pc { display: none;}
img#impressão { display: none;}
img#tablet { display: block;}
img#TV { display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* PC */
    
body {
    background-image: url(../Imagens/back-pc.jpg);
}

img#phone {display: none;}
img#pc { display: block;}
img#impressão { display: none;}
img#tablet { display: none;}
img#TV { display: none;}
}

@media screen and (min-width: 1200px) { /*telas grandes*/
    
body {
    background-image: url(../Imagens/back-tv.jpg);
}

img#phone {display: none;}
img#pc { display: none;}
img#impressão { display: none;}
img#tablet { display: none;}
img#TV { display: block;}
}

@media print { /*impressão*/
    
* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url(../Imagens/back-print.jpg);
}

main {
    width: 90vw;
    border: 2px solid black;
}

main::after {
    content: 'essa impressão foi feitas através do site www.cursoemvideo.com';
    text-decoration: overline;
}

main h1 {
    text-shadow: none;
    color: black;
}

img#phone {display: none;}
img#pc { display: none;}
img#impressão { display: block;}
img#tablet { display: none;}
img#TV { display: none;}
}